*.lock
*.lock
*.xml
/build
*.tab
*.tab_i
*.tab
*.at
/build
*.lock
.gradle/7.3.2/executionHistory/executionHistory.bin
.gradle/7.3.2/executionHistory/executionHistory.lock
.gradle/7.3.2/fileHashes/fileHashes.bin
.gradle/7.3.2/fileHashes/fileHashes.lock
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/buildOutputCleanup/outputFiles.bin
.gradle/file-system.probe
build/kotlin/compileKotlin/build-history.bin
build/kotlin/compileKotlin/caches-jvm/inputs/source-to-output.tab
build/kotlin/compileKotlin/caches-jvm/inputs/source-to-output.tab.keystream
build/kotlin/compileKotlin/caches-jvm/inputs/source-to-output.tab.values.at
build/kotlin/compileKotlin/caches-jvm/inputs/source-to-output.tab_i
build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/class-attributes.tab
build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/class-attributes.tab.keystream
build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/class-attributes.tab.values.at
build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/class-attributes.tab_i
build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab
.gradle/7.3.2/executionHistory/executionHistory.lock
.gradle/7.3.2/fileHashes/fileHashes.lock
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/buildOutputCleanup/outputFiles.bin
build/kotlin/compileKotlin/build-history.bin
build/kotlin/compileKotlin/caches-jvm/inputs/source-to-output.tab
build/kotlin/compileKotlin/caches-jvm/inputs/source-to-output.tab.keystream
build/kotlin/compileKotlin/caches-jvm/inputs/source-to-output.tab.values.at
build/kotlin/compileKotlin/caches-jvm/inputs/source-to-output.tab_i
build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/class-attributes.tab
build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/class-attributes.tab.keystream
build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/class-attributes.tab.values.at
build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/class-attributes.tab_i
build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab
*.tab_i
